/*
Part of the code is based on http://blog.felixhagspiel.de/index.php/posts/custom-inputs
by Felix Hagspiel.
*/

:root {
  --color-default: #4D4D4D; /* default color */
  --color-default-light: #666666; /* default color light */
  --color-active: #E52331; /* color when active or checked */
  --color-active-light: #E53E40; /* active color light */
  --color-focus: #FFFFFF; /* color when focused */
  --margin-el: 0.6%; /* default margin for our custom inputs */
}

.category_box {
  position: fixed;
  right: 0%;
  color: var(--main-whiteStroke);
  width: 300px;
  max-height: 20%;
  overflow-y: auto;
  background-color: var(--main-grad1);
  opacity: 0.8;
  padding: 1%;
}

.dimension_box {
  top: 20%;
}

.discipline_box {
  bottom: 20%;
}

.category_box h1 {
  font-size: 14px;
  text-align: left;
  margin-top: 0%;
}

.check label{
  font-size: 90%;
  font-family: source, sans-serif;
}

.check input[type="checkbox"]:checked {
  width: 0;
  height: 0;
  display: none;
  opacity: 0;
}

.check input[type="checkbox"]:not(:checked) {
  width: 0;
  height: 0;
  display: none;
  opacity: 0;
}

.check > input[type="checkbox"] + label {
  display: inline-block;
  margin-right: var(--margin-el);
  margin-top: var(--margin-el);
  margin-bottom: var(--margin-el);
  padding-left: 20px;
  padding-top: 2px;
  position: relative;
  cursor: pointer;
}

.check > input[type="checkbox"]:checked + label::before {
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 0;
  width: 10px;
  height: 10px;
  border: 2px solid var(--color-default);
  color: var(--color-default);
}

.check > input[type="checkbox"]:not(:checked) + label::before {
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 0;
  width: 10px;
  height: 10px;
  border: 2px solid var(--color-default);
  color: var(--color-default);
}

.check > input[type="checkbox"]:checked + label:hover::before{
  background-color: var(--color-active-light);
  box-shadow: 0px 0px 4px var(--color-active-light);
}

.check > input[type="checkbox"]:not(:checked) + label:hover::before{
  background-color: var(--color-default-light);
}

.check > input[type="checkbox"]:checked:focus + label::before{
  border-color: var(--color-focus);
}

.check > input[type="checkbox"]:checked[disabled] + label{
  cursor: not-allowed;
  opacity: .4;
}

.check > input[type="checkbox"]:checked[disabled] + label::before{
  opacity: .7;
}

.check > input[type="checkbox"]:checked + label::before {
  font-family: source, sans-serif;
  font-size: 13px;
  text-align: center;
  -webkit-transition: border-color .2s ease-in, background-color .2s ease-in;
  -moz-transition: border-color .2s ease-in, background-color .2s ease-in;
  -o-transition: border-color .2s ease-in, background-color .2s ease-in;
  -ms-transition: border-color .2s ease-in, background-color .2s ease-in;
  transition: border-color .2s ease-in, background-color .2s ease-in;        
}

.check > input[type="checkbox"]:not(:checked) + label::before {
    font-family: source, sans-serif;
    font-size: 13px;
    text-align: center;
    -webkit-transition: border-color .2s ease-in, background-color .2s ease-in;
    -moz-transition: border-color .2s ease-in, background-color .2s ease-in;
    -o-transition: border-color .2s ease-in, background-color .2s ease-in;
    -ms-transition: border-color .2s ease-in, background-color .2s ease-in;
    transition: border-color .2s ease-in, background-color .2s ease-in;        
}

/*.check > input[type="checkbox"]:checked + label::before {
    font-size: 70%;
    content: "\2715";
    line-height: 11px;`
    text-indent: -1.2px;
    color: #FFF;
    background-color: var(--color-active);
    border-color: var(--color-active);
}

.check > input[type="checkbox"]:not(:checked) + label::before {
    content: "";
} */

.check > input[type="checkbox"]:checked + label::before {
  content: "";
  background-color: var(--color-active);
  border-color: var(--color-active);
}

.check > input[type="checkbox"]:not(:checked) + label::before {
    content: "";
}