div.description-text {
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
	column-count: 1;
	left: auto;
	right: auto;
	font-family: alegreya;
	color: var(--main-whiteStroke);
	padding: 0 32%;
	text-align: center;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

div.description-text p {
	padding: 0px;
	-webkit-margin-before:0em;
	-webkit-margin-after:1em;
}

div.description-text p {
	font-family: alegreya;
	padding: 0px;
	-webkit-margin-before:0em;
	-webkit-margin-after:1em;
}

div.description-text p.highlight{
	font-size: 120%;
	font-style: italic;
	font-family: alegreyaIt;
	padding: 10px;
	-webkit-margin-before:0em;
	-webkit-margin-after:1em;
}

div.description-text{
	display: block;
  background: url(resources/pregunta_simbolo.svg);
  background-size: contain;
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
}

div.description-text h3 {
	margin-top: 45%;
}