div.intro-text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
	column-count: 2;
	column-gap: 60px;
	left: auto;
	right: auto;
	font-family: alegreya;
	color: var(--main-whiteStroke);
	padding: 0 13%;
	text-align: justify;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

div.intro-text p {
	padding: 0px;
	-webkit-margin-before:0em;
	-webkit-margin-after:1em;
}

div.intro-text mark {
	background-color: #1C2D53;
	color: white;
}

div.first-sect{
	max-height: 100vh;
}

div.section div.outside {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}