#minimap {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

#minimap.show {
  opacity: 0.8;
}

#minimap .timelines line.timeline {
  stroke: var(--main-whiteStroke);
  stroke-width: 0.5px;
  stroke-dasharray: 3;
}

#minimap .timeline-text {
  font-family: sourceBlack, 'sans-serif';
  fill: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

#minimap rect {
  cursor: move;
}

#minimap .links .link {
  stroke: var(--main-whiteStroke);
  stroke-width: 0.2px;
}

#minimap .links line.link.active {
  stroke: var(--main-red);
  stroke-width: 1px;
  opacity: 1;
}

#minimap .links line.link.disable {
  stroke: var(--main-grey);
  opacity: 0;
}

#minimap circle.node {
  opacity: 1;
}

#minimap circle.node.active  {
  fill: var(--main-red);
  r: 5px;
}

#minimap circle.node.disable {
  opacity: 0;
}