.question-info {
  margin: 0 auto;
  margin-bottom: -3px;
  border-bottom: 3px solid;
  border-bottom-color: rgba(229,35,49,0);
  width: 70%;
  height: 30vh;
  border-radius: 0px;
  -webkit-transition: border-bottom-color 1s ease-out;
  -moz-transition: border-bottom-color 1s ease-out;
  -o-transition: border-bottom-color 1s ease-out;
  transition: border-bottom-color 1s ease-out;
}

.question-info h3 {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 110%;
  opacity: 0;
}

.question-info .description {
  font-family: alegreya;
  margin-bottom: 9px;
  padding: 0 3%;
  font-size: 13px;
  text-align: justify;
  color: white;
  column-count: 2;
  column-gap: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
}
.question-info.active h3 {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity  0.2s ease-in;
  -o-transition: opacity  0.2s ease-in;
  transition: opacity  0.2s ease-in;
}

.question-info.active {
  margin-bottom: -3px;
  border-bottom: 3px solid;
  border-bottom-color: var(--main-red);
  -webkit-transition: border-bottom-color 0.2s ease-in;
  -moz-transition: border-bottom-color 0.2s ease-in;
  -o-transition: border-bottom-color 0.2s ease-in;
  transition: border-bottom-color 0.2s ease-in;
}

.question {
  fill: var(--main-grey);
}

.question.hover {
  fill: white;
}

.question.activated {
  fill: var(--main-red);
}

.triangle {
  fill: var(--main-red);
}

.question-sect {
  height: 50vh;
}

.question-sect h3 {
	font-family: sourceSemi;
}

.inner-quest {
  margin: 0 auto;
  width: 70%;
  border-radius: 0px;
}

.svg-quest-container {
  margin: 0 auto;
  margin-top: 3px;
  top:10vh;
  width: 70%;
  border-radius: 0px;
}

.svg-quest-container svg .triangle {
  margin: 0 auto;
  top:10vh;
  height: 10vh;
  width: 70%;
  border-radius: 0px;
}

.description {
  height: 20vh;
  overflow-y: auto;
  padding-bottom: 5%;
}