.question_info {
  margin: 0 auto;
  height: 20vh;
  width: 100%;
  border-radius: 3px;
}

.question_info h3 {
  font-size: 120%;
  padding: 20px 20%;
}

.question_info.active {
  background-color: var(--main-red);
}

.question {
  fill: var(--main-grey);
}

.question.hover {
  fill: white;
}

.question.activated {
  fill: var(--main-red);
}

.triangle {
  fill: var(--main-red);
}