.question_info {
  margin: 0 auto;
  height: 40vh;
  width: 80%;
}

.question_info h3 {
  font-size: 120%;
}

.question_info.active {
  background-color: var(--main-red);
}

.question {
  fill: var(--main-grey);
}

.question.hover {
  fill: white;
}

.question.activated {
  fill: var(--main-red);
}