@font-face {
  font-family: sourceBold;
  src: url(fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: sourceBlack;
  src: url(fonts/SourceSansPro-Black.otf);
}

@font-face {
  font-family: FontAwesome;
  src: url(fonts/fa-regular-400.ttf);
}

@font-face {
  font-family: sourceSemi;
  src: url(fonts/SourceSansPro-Semibold.ttf);
}

@font-face {
  font-family: source;
  src: url(fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: alegreya;
  src: url(fonts/AlegreyaSC-Regular.otf);
}

body {
  margin: 5em auto;
  max-width: 1200px;
  font-family: sans-serif;
  background: #0a0a0a;
  /* Old browsers */
  background: -moz-linear-gradient(top, var(--main-grad1) 0%, var(--main-grad2) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, var(--main-grad1) 0%, var(--main-grad2) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, var(--main-grad1) 0%, var(--main-grad2) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#1c243a', GradientType=0);
  /* IE6-9 */
}

#vis {
  margin: 0;
}

#container line.link {
  stroke: var(--main-whiteStroke);
  stroke-width: 1px;
  opacity: 0.8;
}

#container line.link.active {
  stroke: var(--main-red);
  stroke-width: 1px;
  opacity: 1;
}

#container line.link.disable {
  stroke: var(--main-grey);
}

#container line.timeline {
  stroke: var(--main-whiteStroke);
  stroke-width: 1px;
  stroke-dasharray: 2;
}

#container .node circle {
  fill: var(--main-whiteStroke);
  stroke: none;
}

#container .node.active circle {
  fill: var(--main-red);
}

#container .node.disable circle {
  fill: var(--main-grey);
}

.timeline-text {
  font-family: sourceBlack, 'sans-serif';
  font-size: 20px;
  fill: white;
}

.node text {
  font-family: source, 'sans-serif';
  font-size: 12px;
  fill: white;
}

h1 {
  color: white;
  font-family: sourceBold, 'sans-serif';
  font-size: 260%;
  text-align: center;
}

h2 {
  color: white;
  font-family: sourceBold, 'sans-serif';
  font-size: 140%;
  font-variant: small-caps;
  text-align: center;
}

h3 {
  color: white;
  font-family: sourceBold, 'sans-serif';
  font-size: 120%;
  font-variant: small-caps;
  text-align: center;
}

:root {
  --main-red: #e52331;
  --main-whiteStroke: #f2f2f2;
  --main-grad1: #0a0a0a;
  --main-grad2: #1c243a;
  --main-grey: grey;
}

div.separator {
  margin: 10px auto;
  background: var(--main-red);
  height: 10px;
  width: 80%;
}

div.separator-tip {
  background: var(--main-red);
  height: 10px;
  width: 100%;
  margin-top: 10px;
}

#front {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.st0 {
  fill: #FFFFFF;
}

.st1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.st2 {
  stroke: #A6B2BC;
}

.st3 {
  stroke: #A6B2BC;
}

.section {
  height: 100vh;
}

.s0 {
  min-height: 0px;
}

.s1 {
  min-height: 100px;
}

.s3 {
  min-height: 200px;
}

