<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <script src='utils.js' charset='utf-8'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.12.2/d3.js' charset='utf-8'></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="js/ScrollMagic.js"></script>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/category-box.css" />
  <link rel="stylesheet" href="css/tooltip.css" />
  <link rel="stylesheet" href="css/question.css" />
</head>

<body>
  <div id="vis">
    <svg :width="WIDTH" :height="HEIGHT" id="container" pointer-events="all">
    </svg>
    <div class="question_info">
      <h3 class="title"></h3>
      <div class="description"></div>
    </div>
    <svg :width="WIDTH" :height="QHEIGHT" id="question_container" pointer-events="all">
    </svg>
    <div class="milestone-sect section">

    </div>
    <div class="question-sect section">
      <h3>PREGUNTAS EN LAS FRONTERAS</h3>
      <div class="separator"></div>
    </div>
    <div class="description-sect section">

    </div>
    <div class="intro-sect section">

    </div>

    <div class="first-sect section">

      <div class="spacer s2"></div>
      <div id="trigger1" class="spacer s0"></div>
      <div id="animate1">
        <title-particle :width="WIDTH"></title-particle>
      </div>

      <div class="separator"></div>
      <h2>EXPLORANDO ÁREAS EMERGENTES EN CIENCIA Y HUMANIDAD</h2>
      <div class="spacer s2"></div>

    </div>

    <div class="tooltip" v-bind:class="{ large: tooltipLarge, appear: tooltipped }">
      <div class="title" v-if="tooltipped" v-on:click="toggleToolTip">
        <span>
          {{tooltipped.name}}
        </span>
      </div>
      <div class="separator-tip" v-if="tooltipLarge"></div>
      <div v-if="tooltipLarge">
        LOREM
      </div>
      <div v-if="tooltipped && tooltipLarge">
        <template v-for="tag in tooltipped.tags">
          <span class="tag" v-if="tags[tag]" v-on:click="addFilterTag(tag)" v-bind:class="{ active: checkedFilters.indexOf(tag) >= 0}">
            {{tags[tag].nombre}}
          </span>
        </template>
      </div>
      <p></p>
    </div>
    <div class="category_box dimension_box">
      <h1 v-on:click="toggleChallenge()">DESAFIOS</h1>
      <div class="container" v-if="showChallenge">
        <div class="check" v-for="dimension in dimensions">
          <input type="checkbox" :id="dimension.id" :value="dimension.id" v-model="checkedFilters">
          <label :for="dimension.id">{{dimension.nombre}}</label>
          <div class="check" v-for="subdimension in dimension.subdimension">
            <input type="checkbox" :id="subdimension.id" :value="subdimension.id" v-model="checkedFilters">
            <label class="sub" :for="subdimension.id">
              {{subdimension.nombre}}
            </label>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="category_box discipline_box">
      <h1 v-on:click="toggleDiscipline()">DISCIPINAS</h1>
      <div class="container" v-if="showDiscipline">
        <div class="check" v-for="dimension in disciplines">
          <input type="checkbox" :id="dimension.id" :value="dimension.id" v-model="checkedFilters">
          <label :for="dimension.id">{{dimension.nombre}}</label>
          <br>
          <div class="check" v-for="subdimension in dimension.subdisciplinas">
            <input type="checkbox" :id="subdimension.id" :value="subdimension.id" v-model="checkedFilters">
            <label class="sub" :for="subdimension.id">
              {{subdimension.nombre}}
            </label>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="title-component.js"></script>
  <script src="script.js"></script>
</body>

</html>