body {
  margin: 5em auto;
  max-width: 1200px;
  font-family: sans-serif;
}
#container line.link {
  stroke: #9ecae1;
  stroke-width: 4px;
}
#container line.timeline {
  stroke: black;
  stroke-width: 2px;
  stroke-dasharray: 1em;
}
#container .node circle {
  fill: white;
  stroke: black;
}
div.tooltip {
  position: absolute;
  width: 120px;
  padding: 5px;
  font: 12px sans-serif;
  color: white;
  background: rgb(34, 44, 54);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.tooltip .fecha{
  color: red;
}