@font-face {
    font-family: sourceBold;
    src: url(fonts/SourceSansPro-Bold.otf);
}

@font-face {
    font-family: sourceBlack;
    src: url(fonts/SourceSansPro-Black.otf);
}

@font-face {
    font-family: source;
    src: url(fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: alegreya;
    src: url(fonts/AlegreyaSC-Regular.otf);
}

body {
  margin: 5em auto;
  max-width: 1200px;
  font-family: sans-serif;
  background: #0a0a0a; /* Old browsers */
  background: -moz-linear-gradient(top, var(--main-grad1) 0%, var(--main-grad2) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, var(--main-grad1) 0%,var(--main-grad2) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, var(--main-grad1) 0%,var(--main-grad2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#1c243a',GradientType=0 ); /* IE6-9 */
}
#container line.link {
  stroke: var(--main-whiteStroke);
  stroke-width: 2px;
}

#container line.link.active {
  stroke: var(--main-red);
  stroke-width: 2px;
}

#container line.link.disable {
  stroke: var(--main-grey);
  stroke-width: 2px;
}

#container line.timeline {
  stroke: var(--main-whiteStroke);
  stroke-width: 1px;
  stroke-dasharray: 2;
}
#container .node circle {
  fill: var(--main-whiteStroke);
  stroke: none;
}

#container .node.active circle {
  fill: var(--main-red);
}

#container .node.disable circle {
  fill: var(--main-grey);
}

.timeline-text{
  font-family: sourceBlack, 'sans-serif';
  font-size: 20px;
  fill: white;
}

.node text{
  font-family: source, 'sans-serif';
  font-size: 12px;
  fill: white;
}

h1 {
  color: white;
  font-family: sourceBold, 'sans-serif';
  font-size: 45px;
  text-align: center;  
}

h2 {
  color: white;
  font-family: sourceBold, 'sans-serif';
  font-size: 15px;
  font-variant: small-caps;
  text-align: center;  
}

h3 {
  color: white;
  font-family: sourceBold, 'sans-serif';
  font-size: 15px;
  font-variant: small-caps;
  text-align: center;
}

:root{
  --main-red: #e52331;
  --main-whiteStroke: #f2f2f2;
  --main-grad1: #0a0a0a;
  --main-grad2: #1c243a;
  --main-grey: grey;
}
div.tooltip {
  position: absolute;
  max-height: 500px;
  max-width: 200px;
  padding: 5px;
  font-family: sourceBold, 'sans-serif';
  font-size: 20px;
  text-align: center;
  color: white;
  background: var(--main-grad1);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.tooltip span{
  font-family: sourceBold, 'sans-serif';
}

.question {
  fill: var(--main-grey);
}

.question.hover{
  fill: white;
}

.question.activated{
  fill: var(--main-red);
}

div.separator {
  margin: 10px auto;  
  background: var(--main-red);
  height: 10px;
  width: 600px;
}

.question_info {
  margin: 0 auto;
  height: 100px;
}

.question_info h3{
  font-size: 20px;
}

.question_info.active{
  background-color: var(--main-red);
}

.category_box {
  position: fixed;
  right: 10px;
  color: var(--main-whiteStroke);
  width: 20%;
  max-height: 300px;
  overflow-y: auto;
  background-color: var(--main-grad1);
  opacity: 0.8;
}

.dimension_box {
  top: 20%;
}

.discipline_box {
  bottom: 0;
}

.category_box h1{
  font-size: 20px;
}